# Archivo de configuración de entorno
PORT=3000
NODE_ENV=development

# Tipo de repositorio: FS (File System) o SQL (MySQL) o MONGO (MongoDB)
REPOSITORY_TYPE=MONGO

# Configuración de MySQL (solo si REPOSITORY_TYPE=SQL)
DB_HOST=<HOST_DE_LA_BD>
DB_USER=<USUARIO_DE_LA_BD>
DB_PASSWORD=<CONTRASEÑA_DE_LA_BD>
DB_NAME=<NOMBRE_DE_LA_BD>
DB_CONNECTION_LIMIT=10

# MongoDB (solo si REPOSITORY_TYPE=MONGO)
MONGODB_URI=<URI_DE_CONEXIÓN_DE_MONGODB>

# JWT Configuración
JWT_SECRET=<UN_VALOR_MUY_SECRETO>
JWT_EXPIRES_IN=1d