# Archivo de configuración de entorno
PORT=3000
NODE_ENV=development

# Tipo de repositorio: FS (File System) o SQL (MySQL)
REPOSITORY_TYPE=SQL

# Configuración de MySQL (solo si REPOSITORY_TYPE=SQL)
DB_HOST=<HOST_DE_LA_BD>
DB_USER=<USUARIO_DE_LA_BD>
DB_PASSWORD=<CONTRASEÑA_DE_LA_BD>
DB_NAME=<NOMBRE_DE_LA_BD>
DB_CONNECTION_LIMIT=10

# JWT Configuración
JWT_SECRET=<UN_VALOR_MUY_SECRETO>
JWT_EXPIRES_IN=1d